[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
cbpro = "*"

[dev-packages]
aws-cdk-core = "*"
aws-cdk-aws-ecs = "*"
aws-cdk-aws-ecs-patterns = "*"
aws-cdk-aws-applicationautoscaling = "*"
aws-cdk-aws-logs = "*"

[requires]
python_version = "3.8.6"
